# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: numeric values that can be stored and used in Python. Two types... Integers which do not contain decimals and Floats which do have decimal values. You can get math errors by only using ints for some operations.

Strings: Text objects typically used for reading on the screen. 

Lists: Data store of ordered list of objects. Can contain numbers, strings, other lists, tuples and dictionaries. Values can be accessed by index number starting at zero. Lists are mutable.

Tuples: Similar to lists but immutable

Dictionaries: Data store of unordered key:value pairs. Objects can be accessed by referencing the key

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [5]:
(5**2 + 0.50/2) * 4 - 0.75

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

I *think* this will product a 1, which is incorrect. We need to change these to floats to get the correct answer

Well, i was wrong about this but i also don't understand why this is wrong

In [56]:
2/3

0.6666666666666666

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [15]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?

Float

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
x**0.5 / x**2

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [17]:
s = 'hello'
# Print out 'e' using indexing

# Code here
print(s[1])

e

Reverse the string 'hello' using indexing:

In [22]:
s ='hello'

# Reverse the string using indexing

# Code here
print(s[-1:])

o

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [23]:
s ='hello'

# Print out the

# Code here
print(s[-1])
print(s[4])

o
o

## Lists

Build this list [0,0,0] two separate ways.

In [32]:
list_1 = [0,0,0]
print(list_1)
list_2 = []
list_2.append(0)
list_2.append(0)
list_2.append(0)
print(list_2)

[0, 0, 0]
[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [35]:
l = [1,2,[3,4,'hello']]
l[2][2] = "goodbye"
print(l)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [37]:
l = [3,4,5,5,6]
l.sort()
print(l)

[3, 4, 5, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [38]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [39]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [45]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][1])

['hello']

In [47]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

print(d['k1'][2]['k2'][1]['tough'][2])

['hello']

Can you sort a dictionary? Why or why not?

No, dictionaries are unordered by definition

## Tuples

What is the major difference between tuples and lists?

Lists are mutable and tuples are immutable

How do you create a tuple?

my_tuple = ()

## Sets

What is unique about a set?

sets only contain a single instance of a given value

Use a set to find the unique values of the list below:

In [48]:
l = [1,2,2,33,4,4,11,22,3,3,2]
l = set(l)
print(l)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [50]:
# Answer before running cell
2 > 3

False

In [51]:
# Answer before running cell
3 <= 2

False

In [52]:
# Answer before running cell
3 == 2.0

False

In [53]:
# Answer before running cell
3.0 == 3

True

In [54]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [55]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!